<schedule>
<generator name="akxml" />
<version>1.0</version>
<conference>
<title>{{ conf_title }}</title>
<acronym>{{ conf_slug }}</acronym>
<days>{{ conf_days }}</days>
<start>{{ conf_start.strftime('%Y-%m-%d') }}</start>
<end>{{ conf_end.strftime('%Y-%m-%d') }}</end>
<timeslot_duration>00:10</timeslot_duration>
<time_zone_name>Europe/Berlin</time_zone_name>
</conference>
{% for day in days %}
    <day index="{{loop.index}}" date="{{day.strftime('%Y-%m-%d')}}" start="{{day.strftime('%Y-%m-%dT08:00:00%z')}}" end="{{day.strftime('%Y-%m-%dT22:00:00%z')}}">
    {% for room_id in rooms %}
        <room name="{{rooms[room_id].name}} ({{rooms[room_id].location}})">
        {% for slot in slots %}
            {% if slot.start and slot.start.strftime('%Y-%m-%d') == day.strftime('%Y-%m-%d') and slot.room == room_id %}
                <event id="{{slot.id}}">
                <date>{{slot.start.strftime('%Y-%m-%dT%H:%M:%S%z')}}</date>
                <start>{{slot.start.strftime('%H:%M')}}</start>
                <duration>{{slot.duration_str}}</duration>
                <room>{{rooms[slot.room].name}} ({{rooms[slot.room].location}})</room>
                <slug>{{conf_slug}}-ak{{slot.id}}</slug>
                <title>{{aks[slot.ak].short_name | default('')}}</title>
                <subtitle>{{aks[slot.ak].name | default('')}}</subtitle>
                <track>{% if aks[slot.ak].track in tracks %}{{tracks.get(aks[slot.ak].track).get('name')}}{% endif %}</track>
                <type>{% if aks[slot.ak].category in categories %}{{categories.get(aks[slot.ak].category).get('name')}}{% endif %}</type>
                <language/>
                <abstract/>
                <description>{{aks[slot.ak].description | replace('\r', '') | e}}</description>
                <persons>
                {% for person in aks[slot.ak].owners %}
                    {# <!--<person guid="211fd9e8-eebd-4657-8a70-07614b0bdfea">DENOG ORGA</person>--> #}
                    <person>{{owners[person].name}}{% if owners[person].institution %} ({{owners[person].institution}}){% endif %}</person>
                {% endfor %}
                </persons>
                <links>
                {% if aks[slot.ak].link %}
                    <link href="{{aks[slot.ak].link|safe}}">Information</link>
                {% endif %}
                {% if aks[slot.ak].protocol_link %}
                    <link href="{{aks[slot.ak].protocol_link|safe}}">Protokoll</link>
                {% endif %}
                </links>
                </event>
            {% endif %}
        {% endfor %}
        </room>
    {% endfor %}
    </day>
{% endfor %}
</schedule>
