[Unit]
Description=Generate AK schedule XML

[Service]
Type=simple
WorkingDirectory=/opt/kif-ak-schedule-xml
ExecStart=/opt/kif-ak-schedule-xml/akxml.py kif515 "KIF 51,5" -o schedule.xml

[Install]
WantedBy=multi-user.target
